<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitter Stream</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
    <style type="text/css">
        #hashTags{
            overflow-y:scroll;
            position: absolute;
            height: 100%;
        }
    </style>
</head>

<body>

    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="chart"></div>
        </div>    
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="text-container">
                <table class="table table-striped table-condensed">
                    <tbody id="hashTags"></tbody>
                </table>
            </div>
        </div>
    </div>
    
    
	<!-- Latest compiled and minified jQuery JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- Latest compiled and minified D3.JS JavaScript -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
    
    <script th:inline="javascript">
  	//<![CDATA[
    $(document).ready(function() {

        var browserNotSupported = false;

        //Array to Store Streaming Tweet Locations
        var words = ["Word Cloud", "Live", "Tweets", "From", "Cities/Countries", "Streaming", "Every 5 Secs", "Word Cloud", "Live", "Tweets", "From", "Cities/Countries", "Streaming", "Every 5 Secs", "Project Author", "@RawSanj"];

        //Array to Store Streaming HashTags
        var hashTagsArr = ["Live Streaming #HashTags using SssEmitter", "Streaming in Every 2 Seconds", 
                                "#Hashing from around the Globe", 
                                "Project Author - <a href='https://github.com/RawSanj'>@RawSanj</a>",
                                "Fork this Project on Github",
                                "<a href='https://github.com/RawSanj/Spring-Twitter-Stream'>#Spring-Twitter-Stream</a>",
                                "EventSource is not Supported in Internet Explorer, Please use Chrome",
                                "Spring-Boot is #Awesome"];                      

        var hashTagsAndProfile = [];
        
        var height = $(window).height(), width = $("#chart").width();

        try{
            var streamLocation = new EventSource('/tweetLocation');
        
            streamLocation.addEventListener('streamLocation', function(event){
                
                var location = event.data;
                
                if (location!= "") {
                    words.push(location);
                };
                                        
            });

            streamLocation.addEventListener('streamHashtags', function(event){
                
                var hashtags = event.data;
                //console.log(hashtags);
                if (hashtags!== '' && hashtags!=='""') {
                    hashTagsArr.push(hashtags);
                };
                                        
            });
        }
        catch(err){
            words = ["Project Author", "@RawSanj", "Project Author", "@RawSanj", "Internet Explorer", "Does not Support EventSource", "Please use Chrome!","Please use Chrome!", "IE Support coming up", "in WebSocket version"];
            browserNotSupported = true;
        }

        $("#hashTags").height(height).width($("#text-container").width());

        var lastClassindex = 0;
        showNewHashTags();

        function showNewHashTags() {

            //Put Project Info in beetween hashtags
            if (Math.floor(Math.random()*20)===10) {
                var dispInfo = ["<span style='color:#a94442 !important; font-size:18px'>Project Author - <a href='https://github.com/RawSanj'>@RawSanj</a></span>",
                                "<span style='color:#a94442 !important; font-size:18px'>Fork this Project on Github</span>",
                                "<span style='color:#a94442 !important; font-size:18px'><a href='https://github.com/RawSanj/Spring-Twitter-Stream'>#Spring-Twitter-Stream</a></span>"];
                hashTagsArr = hashTagsArr.concat(dispInfo);
            }

            for (var i = 0; i < hashTagsArr.length; i++) {
                
                $("#hashTags").append("<tr class='"+returnTextClass(lastClassindex)+"'><td><b><p class='pull-right text-"+returnTextClass(lastClassindex+2)+"'> " 
                    + hashTagsArr[i] + "</p></b></p></td></tr>");
                lastClassindex++;

            }
            $('#hashTags').animate({scrollTop: $('#hashTags').prop("scrollHeight")}, 2000);
            lastClassindex = hashTagsArr.length;
            
            hashTagsArr = []; //Empty hashTag Array to free up array
            
            setTimeout(function() { showNewHashTags()}, 2000);

        }
        function returnTextClass (index) {
            var cssClass = ["success", "info", "warning","danger", "primary"];
            var ind = index % 5;
            return cssClass[ind];
        }



    //..........Code for Word Cloud............

        //Store Compressed Data
        var compressedWordArray = compressArray(words);

        // Encapsulate the word cloud functionality
        function wordCloud(selector) {

            var fill = d3.scale.category20();

            //Construct the word cloud's SVG element
            var svg = d3.select(selector).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate("+(width/2)+","+(height/2)+")");

            //Draw the word cloud
            function draw(words) {
                var cloud = svg.selectAll("g text")
                                .data(words, function(d) { return d.text; })

                //Entering words
                cloud.enter()
                    .append("text")
                    .style("font-family", "Impact")
                    .style("fill", function(d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr('font-size', 1)
                    .text(function(d) { return d.text; });

                //Entering and existing words
                cloud
                    .transition()
                        .duration(600)
                        .style("font-size", function(d) { return d.size + "px"; })
                        .attr("transform", function(d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .style("fill-opacity", 1);

                //Exiting words
                cloud.exit()
                    .transition()
                        .duration(200)
                        .style('fill-opacity', 1e-6)
                        .attr('font-size', 1)
                        .remove();
            }

            function returnRotation () {
                var angle = [ 0, -90, -60, -45, -30, 0, 30, 45, 60, 90];
                var index = Math.floor(Math.random()*10);
                return angle[index];
            }

            //Use the module pattern to encapsulate the visualisation code. We'll
            // expose only the parts that need to be public.
            return {

                //Recompute the word cloud for a new set of words. This method will
                // asycnhronously call draw when the layout has been computed.
                //The outside world will need to call this function, so make it part
                // of the wordCloud return value.
                update: function(words) {

                    var maxSize = d3.max(compressedWordArray, function(d) { return d.size});
                    //Define Pixel of Text
                    var pixScale = d3.scale.linear()
                        .domain([0, maxSize])
                        .range([10, 80]);

                    d3.layout.cloud().size([(width-50), (height-20)])
                        .words(words)
                        .padding(5)
                        .rotate(function() { return ~~(Math.random() * 2) * returnRotation(); })
                        .font("Impact")
                        .fontSize(function(d) { return Math.floor(pixScale(d.size)); })
                        .on("end", draw)
                        .start();
                }
            }

        }

        //This method tells the word cloud to redraw with a new set of words.
        //In reality the new words would probably come from a server request,
        // user input or some other source.
        function showNewWords(vis) {
            
            if (browserNotSupported) {
                words = ["Project Author", "@RawSanj", "Project Author", "@RawSanj", "Internet Explorer", "Does not Support EventSource", "Please use Chrome!","Please use Chrome!", "IE Support coming up", "in WebSocket version"];
            }else if (words.length===0) {
                words = ["Whoops!", "Looks Like", "Nobody", "Tweeted", "In Last 5 Seconds"];
            }

            compressedWordArray = compressArray(words);

            vis.update(compressedWordArray);
            words = []; //Empty Word Array to free up array
            
            setTimeout(function() { showNewWords(vis)}, 5000);

        }

        //Create a new instance of the word cloud visualisation.
        var myWordCloud = wordCloud('body');

        //Start cycling through the demo data
        showNewWords(myWordCloud);

        function compressArray(original) {
            
            var compressed = [];
            // make a copy of the input array
            var copy = original.slice(0);
                         
            // first loop goes over every element
            for (var i = 0; i < original.length; i++) {
         
                var myCount = 0;    
                // loop over every element in the copy and see if it's the same
                for (var w = 0; w < copy.length; w++) {
                    if (original[i] == copy[w]) {
                        // increase amount of times duplicate is found
                        myCount++;
                        // sets item to undefined
                        delete copy[w];
                    }
                }
         
                if (myCount > 0) {
                    var a = new Object();
                    a.text= original[i];
                    a.size= myCount;
                    compressed.push(a);
                }
            }

            return compressed;
        };   
    });
    //]]> 
    </script>
</body>
</html>