<!DOCTYPE html>
<html>
	<head>
		<title>Account Info</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
	</head>
	<body>
	<div class="container">
	
	
		<h3>Hello, <span th:text="${accountInfo.name}">Some User</span>!</h3>
		
		Your Twitter Account Info:
		
		<table class="table table-condensed table-striped">
			<tbody>
				<tr><td>Name: </td><td th:text="${accountInfo.name}"></td></tr>
				<tr><td>Email: </td><td th:text="${accountInfo.email}"></td></tr>
				<tr><td>Location: </td><td th:text="${accountInfo.location}"></td></tr>
				<tr><td>Friends: </td><td th:text="${accountInfo.friendsCount}"></td></tr>
				<tr><td>Language: </td><td th:text="${accountInfo.lang}"></td></tr>
			</tbody>
		</table>
		
		
	</div>
		<!-- Latest compiled and minified jQuery JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
	    <!-- Latest compiled and minified Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	
	</body>
</html>