<!DOCTYPE html>
<html>
	<head>
		<title>JSON Tweets</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
	</head>
	<body>
	<div class="container">
	
	
		<h3>Hello, <span th:text="${username}">Some User</span>!</h3>
		
		<div th:text="${jsonstring}">
			JSON Tweets
		</div>
		
		
	</div>
		<!-- Latest compiled and minified jQuery JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
	    <!-- Latest compiled and minified Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	
	</body>
</html>